<div id="dorm-map"></div>   

    <section id="northwest">
        <div class="container">
            <p class="neighborhood-title text-center">Northwest Neighborhood</p>
            <hr>
            <div class="col-sm-4">
                <img src="photos/dorms/McNutt-1.jpg" class="img-center">
                <img src="photos/dorms/McNutt-2.jpg" class="ptb-10 visible-sm">
            </div>
            <div class="col-sm-8">
                <p class="dorm-desc">These dorms are in a prime location for Business &amp; SPEA majors. However, they are the furthest dorms from most other classes, so taking the bus is usually a must. The Northwest is in close proximity to Assembly Hall and Memorial Stadium and most athletes are put into these dorms. They are also the most popular choice of incoming freshman and are therefore the most difficult to get into.</p>
                <p>Perfect for: Individuals who are outgoing and able to get work done in a somewhat noisier and more distracting environment. This is also a good area for "partiers", business majors, and those who are planning to rush a frat/sorority.</p>
            </div>
            <div class="col-sm-4 pros text-center ptb-15 hidden-xs">
                <p><strong>Pros</strong></p>
                <ul>
                    <li><span class="glyphicon glyphicon-ok-circle"></span> Proximity to athletics</li>
                    <li><span class="glyphicon glyphicon-ok-circle"></span> Reputation of more sociable</li>
                    <li><span class="glyphicon glyphicon-ok-circle"></span> Great for Business Majors</li>
                </ul>
            </div>
            <div class="col-sm-4 cons text-center ptb-15 hidden-xs">
                <p><strong>Cons</strong></p>
                <ul>
                    <li><span class="glyphicon glyphicon-remove-circle"></span> Typically noisier environment</li>
                    <li><span class="glyphicon glyphicon-remove-circle"></span> Furthest from most classes</li>
                    <li><span class="glyphicon glyphicon-remove-circle"></span> Least community kitchens</li>
                </ul>
            </div>
            <div class="col-sm-4 dorms text-center ptb-15">
                <p><strong>Dorms</strong></p>
                <ul>
                    <li><a href="dorm-page.php?id=Briscoe" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Briscoe</a></li>
                    <li><a href="dorm-page.php?id=Collins" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Collins</a></li>
                    <li><a href="dorm-page.php?id=Foster" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Foster</a></li>
                    <li><a href="dorm-page.php?id=McNutt" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> McNutt</a></li>
                </ul>
            </div>
        </div>
    </section> 

    <section id="central">
        <div class="container">
            <p class="text-center neighborhood-title">Central Neighborhood</p>
            <hr>
            <div class="col-sm-4">
                <img src="photos/dorms/Wright-1.jpg" class="img-center">
                <img src="photos/dorms/Wright-2.jpg" class="ptb-10 visible-sm">
            </div>
            <div class="col-sm-8">
                <p class="dorm-desc">The Central dorms are located around 10th street with almost every bus on campus having a stop right next to these dorms. Some close attractions include the Wells Library, SRSC (Student Rec Center), Jimmy Johns, Subway, A Total Tan, Red Mango (Frozen yogurt), and Pizza X. There is also a book store/spirit wear shop in Eigenmann. </p>
                <p>Perfect for: The central dorms seem to be the most diverse, with a wide range of students. This area is a middle ground between the typical laid back personality type of the southeast dorms and the party atmosphere of the northwest.</p>
            </div>
            <div class="col-sm-4 pros text-center ptb-15 hidden-xs">
                <p><strong>Pros</strong></p>
                <ul>
                    <li><span class="glyphicon glyphicon-ok-circle"></span> Close to Library &amp; Rec Center</li>
                    <li><span class="glyphicon glyphicon-ok-circle"></span> All bus routes stop close by</li>
                    <li><span class="glyphicon glyphicon-ok-circle"></span> Volleyball, tennis, &amp; basketball</li>
                </ul>
            </div>
            <div class="col-sm-4 cons text-center ptb-15 hidden-xs">
                <p><strong>Cons</strong></p>
                <ul>
                    <li><span class="glyphicon glyphicon-remove-circle"></span> No dorms have private bathrooms</li>
                </ul>
            </div>
            <div class="col-sm-4 dorms text-center ptb-15">
                <p><strong>Dorms</strong></p>
                <ul>
                    <li><a href="dorm-page.php?id=Ashton" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Ashton</a></li>
                    <li><a href="dorm-page.php?id=Eigenmann" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Eigenmann</a></li>
                    <li><a href="dorm-page.php?id=Teter" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Teter</a></li>
                    <li><a href="dorm-page.php?id=Wright" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Wright</a></li>
                </ul>
            </div>
        </div>
    </section> 

    <section id="southeast">
        <div class="container">
            <p class="text-center neighborhood-title">Southeast Neighborhood</p>
            <hr>
            <div class="col-sm-4">
                <img src="photos/dorms/Forest-1.jpg" class="img-center">
                <img src="photos/dorms/Forest-2.jpg" class="ptb-10 visible-sm">
            </div>
            <div class="col-sm-8">
                <p class="dorm-desc">This neighborhood is located close to most freshman classes (along 3rd street) and is a good area for majors in Fine Arts and Music. The most popular nearby attractions include Mother Bears Pizza, TIS book store, and Jacob's school of Music. It is also located near the 3rd St. frats and sororities. It is the only neighborhood where there is dining on site in every single dorm. </p>
                <p>Perfect for: Individuals who are laid back and want a relaxing quiet environment. Most fine arts and music majors choose these dorms due to their location and the fact that it is the only neighborhood with a music practice room in every dorm.</p>
            </div>
            <div class="col-sm-4 pros text-center ptb-15 hidden-xs">
                <p><strong>Pros</strong></p>
                <ul>
                    <li><span class="glyphicon glyphicon-ok-circle"></span> Proximity to most classes</li>
                    <li><span class="glyphicon glyphicon-ok-circle"></span> Good study environment</li>
                    <li><span class="glyphicon glyphicon-ok-circle"></span> Great for Arts &amp; Music Majors</li>
                </ul>
            </div>
            <div class="col-sm-4 cons text-center ptb-15 hidden-xs">
                <p><strong>Cons</strong></p>
                <ul>
                    <li><span class="glyphicon glyphicon-remove-circle"></span> Reputation of less sociable</li>
                    <li><span class="glyphicon glyphicon-remove-circle"></span> Far from athletics</li>                        
                </ul>
            </div>
            <div class="col-sm-4 dorms text-center ptb-15">
                <p><strong>Dorms</strong></p>
                <ul>
                    <li><a href="dorm-page.php?id=Forest" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Forest</a></li>
                    <li><a href="dorm-page.php?id=Read" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Read</a></li>
                    <li><a href="dorm-page.php?id=Rose" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Rose</a></li>
                    <li><a href="dorm-page.php?id=Willkie" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Willkie</a></li>
                </ul>
            </div>
        </div>
    </section> 