<h1 class="text-center">Additional Amenities</h1>

<%= form_for(@property, :url => wizard_path, :html => {:class => 'plr-20'}) do |f| %>

	<div class="form-group">
	  	<%= f.label(:additional_amenities, 'Additional Amenities *') %>
	  	<%= f.text_field(:additional_amenities) %>
	</div>

	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	  	Save
	<% end %>

<% end %>