<!-- Instance Variables !-->
<% 
@page_title = "Student Housing | Search | Indiana University"
@meta_description = "Enter search criteria to narrow down Indiana University's housing properties to the ones that match your needs. Contact landlords, view amenities, and much more!"
@og_description = "The largest site of Indiana University student living including houses, apartments, and townhomes!"
%>
<!-- End Instance Variables !-->

<section id="top-search">
  <div id="table-container" class="container">
    <div class="row vert-middle">
      <h1 class="text-center" id="search-title">Search from 100's of Apartments &amp; Houses in Bloomington's Online Student Housing Database</h1>
      
      <%= render(:partial => "/property/property_search_form") %>
    
    </div>
  </div>
</section>
