<!-- Instance Variables !-->
<% 
@page_title = "Student Housing | Search | Indiana University"
@meta_description = "Enter search criteria to narrow down Indiana University's housing properties to the ones that match your needs. Contact landlords, view amenities, and much more!"
@og_description = "The largest site of Indiana University student living including houses, apartments, and townhomes!"
%>
<!-- End Instance Variables !-->
   
<%= form_for(:property, :url => {:action => 'index'}) do |f| %>
  
  <div class="form-group">
      <%= f.label(:property_type, 'Type *') %>
      <%= f.select(:property_type, ['House', 'Apartment', 'Townhome', 'Dorm']) %>
    </div>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <span class="glyphicon glyphicon-pencil"></span> Search
  <% end %>

<% end %>
