<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>MCI Contact Form Submission</h1>
    <p>
      First Name: <%= @first_name %><br>
      Last Name: <%= @last_name %><br>
      Email: <%= @email %><br>
      Message: <%= @message %>
    </p>
  </body>
</html>