<div id="unit" class="col-xs-12 col-sm-6">
    <div class="title-box col-xs-10 col-xs-offset-1">
        <p class="m-0">UNIT</p>
    </div>
    <ul class="amenities-list">
        <% @unit_features.each do |unit_feature| %>

            <% if unit_feature[1] == false %> <li style="color:#989898;">
                <span class="glyphicon glyphicon-remove-circle" style="color:red"></span>
                <% elsif unit_feature[1] == true %>
                    <li><span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
                <% else %>
                    <li><span class="glyphicon glyphicon-question-sign"></span>
                <% end %>
                <%= unit_feature[0] %>
            </li>

        <% end %>
    </ul>
</div>