<div class="col-xs-12 col-sm-6 mtb-50">
    <div class="title-box">
        <p class="m-0">UTILITIES | PETS</p>
    </div>
    <ul class="utilities-list">
        <% @utilities.each do |utility| %>

            <% if utility[1] == false %> <li style="color:#989898;">
                <span class="glyphicon glyphicon-remove-circle" style="color:red"></span>
                <% elsif utility[1] == true %>
                    <li><span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
                <% else %>
                    <li><span class="glyphicon glyphicon-question-sign"></span>
                <% end %>
                <%= utility[0] %>
            </li>

        <% end %> 
    </ul>
    <ul class="utilities-list">
        <% @pets.each do |pet| %>

            <% if pet[1] == false %> <li style="color:#989898;">
                <span class="glyphicon glyphicon-remove-circle" style="color:red"></span>
                <% elsif pet[1] == true %>
                    <li><span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
                <% else %>
                    <li><span class="glyphicon glyphicon-question-sign"></span>
                <% end %>
                <%= pet[0] %>
            </li>

        <% end %> 
    </ul>
</div>
