<!-- Meta !-->
<% 
@page_title = "Landlords | Bloomington, Indiana"
@og_description = "The largest site of Indiana University student living including houses, apartments, and townhomes!"
%>
<!-- End Meta !-->

<div id="landlords-bg">
	<section class="container">
	    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
	        <h1>HOUSING MADE SIMPLE</h1>
	        <hr>
	        <p>
	            MyCampus Island is your tool to get your property leased quickly and efficiently as well as to display what your property has to offer to potential residents. Sign up today to have your own free property website hosted within our site as well as to take advantage of our property listing services.
	        </p>
	        <%= link_to('&raquo; &nbsp; Add Your Property!'.html_safe, {:controller => 'profile', :action => 'index'}, :class => 'button button-left blue-button') %>
	    </div>
	    <div class="col-xs-12 col-sm-6 text-center ptb-20">
	        <h2>FAST &amp; FREE</h2>
	        <p>
	            Our services are 100% free with no cost to list your property or update your pages. All you need to do is fill out a brief form about your property. Upon submission the info will be added to your property’s individual pages within our site. MCI will act as your own personal web developer and hosting provider along with providing our listing services.  
	        </p>                
	    </div>
	    <div class="col-xs-12 col-sm-6 text-center ptb-20" id="landlord-text">
	        <h2>EFFECTIVE</h2>
	        <p>
	            Your property’s individualized pages will <strong>ALWAYS</strong> show up in the encyclopedia section of our site, and will display in the listings section of the site when you update the property as available for the upcoming semester. Simply keep your Mycampus Island profile up to date and you will always have your own property website within our site as well as appear in our listings when applicable.
	        </p>                
	    </div>          
	</section>
</div>